**/data-in/*
**/data-out/*
**/meta/*
**/*.class

**/*.pkl
**/*.pyc
**/*.idea
**/*.swp

**UCH_FILES.txt

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

eclipse conf file
.settings
.classpath
.project
.manager
*.lck
*.ctrl
**/*.ipynb_checkpoints

.scala_dependencies

# misc
.cache-main
*.log
*.dat
*.gz
*.csv
*.properties
.DS_Store